{% extends 'base.html' %}

{% block title %}
TV Online
{% endblock %}

{% block content %}

<h1 class="mb-5">

    Canales Online

</h1>

{% for category in categories %}

<h2 class="category-title">

    {{ category.name }}

</h2>

<div class="row">

{% for channel in category.channels.all %}

{% if channel.is_active %}

<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4">

<a href="{% url 'player' channel.slug %}">

<div class="card h-100 text-center">

{% if channel.logo %}

<img
src="{{ channel.logo.url }}"
class="card-img-top">

{% endif %}

<div class="card-body">

<h6>

{{ channel.name }}

</h6>

</div>

</div>

</a>

</div>

{% endif %}

{% endfor %}

</div>

{% endfor %}

{% endblock %}